h2 {
  color: rgb(209, 116, 116);
}
p {
  color: aquamarine;
}

.box {
  font-size: 20px;
  background-color: rgb(216, 234, 236);
  text-align: center;
  padding: 10px;
}
.box1 {
  font-size: 10px;
  background-color: rgb(216, 234, 236);
  text-align: center;
  padding: 30px;
  align-items: flex-end;
}
.box2 {
  padding: 30px;
  background-color: rgb(216, 234, 236);
  margin: 20px auto;
}
body {
  background-color: rgb(33, 194, 205);
}
span {
  font-size: 6px;
}
